#pokeButton {
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    background-color: #555555;
    border-radius: 10px;
}

#pokeButton:hover {
    color: white;
    background-color: #829b9e;
}

/* #pokeSet1 {
    display: none;
}

#pokeSet2 {
    display: none;
}  */

.pokemon {
    
}

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

#QMark1 {
    margin-right: 10%;
    margin-left: 75%;
    width: 10%;
    height: auto;
}

#QMark2 {
    margin-right: 75%;
    margin-left: 10%;
    width: 10%;
    height: auto;
}

#centering {
    margin-top: 3%;
}